.feed-container {
  padding: 0 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.thumbnail {
  width: 31rem;
  border-radius: 11px;
  margin-bottom: 1rem;
}

.video-link:link,
.video-link:visited,
.video-link:hover,
.video-link:active {
  text-decoration: none;
  color: #fff;
}