* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0c0d;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main-container {
  display: grid;
  grid-template-columns: 24rem 1fr;
  grid-template-rows: 5.6rem 1fr;
}

.youtube-logo {
  width: 2.4rem;
  height: 2.4rem;
  color: red;
}

.btn {
  border: none;
  padding: 0.8rem 0.8rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  height: 4rem;
  width: 4rem;
  transition: all 300ms;
}

.btn:hover {
  background-color: rgb(24, 26, 27);
}

.general-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
}