.feed {
  /* background-color: green; */
  grid-column: 2;
  padding: 1rem 10rem;
  /* border-bottom: 1px solid #ffffff1a; */
}

.post {
  padding: 1rem 2rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 500ms;
}

.post:hover {
  transform: scale(1.01);
}

.post:hover {
  background-color: #131f23;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.header-subreddit {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.subreddit-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.time-ago {
  color: #647579;
}

.post-img {
  height: 55rem;
}

.post-actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.action-box {
  display: flex;
  gap: 0.5rem;
  background-color: #1a282d;
  border-radius: 9999px;
  align-items: center;
  padding: 0.75rem 1rem;
}

.actions-icon {
  width: 2rem;
  height: 2rem;
}

.action-text {
  font-weight: bold;
  font-size: 1.3rem;
}