/* 
WHITESPACE SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  color: #e8e6e3;
  background-color: #0b1416;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main-container {
  max-width: 154rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 23.3rem 1fr 32rem;
  grid-template-rows: 21rem 1fr;
  margin-top: 56px;
}
