.recommended {
  /* background-color: red; */
  grid-column: 2/-1;
  padding: 1rem 0rem;
  padding-left: 10rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.recommended-img {
  width: 25%;
  height: 19rem;
  border-radius: 15px;
  transition: all 300ms;
  overflow: hidden;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.car-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("/img/car.jpg");
}

.desert-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("/img/desert.jpg");
}

.laptop-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("/img/laptop.jpg");
}

.nature-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("/img/nature.jpg");
}

.recommended-img:hover {
  transform: scale(1.05);
}
