.grid--main {
  grid-template-columns: 16.7rem 1fr;
}

.nav-heading {
  background-color: #86b3cb;
  color: white;
  text-transform: uppercase;
  display: flex;
  padding: 0.8rem 1.2rem;
  align-items: center;
  gap: 0.4rem;
}

.nav-heading-icon {
  width: 1.6rem;
  height: 1.6rem;
}