.grid--main {
  grid-template-columns: 16.7rem 1fr;
}

.nav-heading {
  background-color: #86b3cb;
  color: white;
  text-transform: uppercase;
  display: flex;
  padding: 0.8rem 1.2rem;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 0.8px;
}

.nav-heading-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.tamo-phones {
  background-color: #e14d4e;
}

.tamo-password {
  background-color: #ec5152;
}

.tamo-kids {
  background-color: #1571b4;
}

.tamo-test {
  background-color: #b3ace5;
}

.tamo-sale {
  background-color: #000;
}

.tamo-items {
  background-color: #ffb81c;
}

.time-table {
  padding: 1.2rem 0.8rem;
}

.time-table-subheading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 2px solid #e8e8e8;
}

.date {
  font-weight: bold;
  color: #09c;
  font-size: 1.6rem;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
}

th,
td {
  border-bottom: 2px solid #ddd;
  text-align: left;
}

th {
  font-weight: normal;
  color: #a2a2a2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table--col-small {
  width: 6rem;
}

.lecture-num {
  padding: 5px;
  margin: 7px;
  width: 3rem;
  border: 1px solid #86b3cb;
  text-align: center;
  border-radius: 3px;
  color: #86b3cb;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 1.5rem;
}